<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "ERROR">
    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n
        </property>
    </Properties>
    <Appenders>
        <File name="TxtFile" fileName="E:\Work\Ozi_Back-end\target\ozi-0.0.1-SNAPSHOT\WEB-INF\log.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level = "debug">
            <AppenderRef ref = "TxtFile"/>
        </Root>
    </Loggers>
</Configuration>